<launch>
<arg name="robot"/>
<group ns="$(arg robot)">
<!--
roscd people_detection_vision/bin/
ROS_NAMESPACE=stage valgrind ./test_conditional_particle_filter.exe

  <node pkg="people_detection_vision" type="test_conditional_particle_filter.exe"
        name="test_conditional_particle_filter" output="screen"
        required="true" />
-->

  <!-- stamp the /cmd_vel Twists -->
  <node pkg="people_detection_vision" type="twist_stamper.exe"
        name="twist_stamper" output="log"
        args="_input_topic:=cmd_vel _ouput_topic:=cmd_vel_stamped" />

  <!-- launch a robot wanderer -->
  <node pkg="people_detection_vision" type="robot_wanderer.exe"
        name="robot_wanderer" output="log"
        args="" />
</group>

<!--
<include file="$(find main_control)/launch/viz.launch">
  <arg name="robot" value="$(arg robot)" />
</include>
-->
</launch>

