<launch>
<arg name="robot"/>
<arg name="eventgui" default="true"/>
<arg name="marker" default="false"/>

<group ns="$(arg robot)">
  <!-- conversion to ROS rviz marker -->
  <node if="$(arg marker)" pkg="people_utils" type="ppl2marker.exe"
        output="screen" name="ppl2marker_ukf_multimodal"
        args="_red:=0 _green:=1 _blue:=0 _input_topic:=ukf_multimodal/ppl" />

  <!-- event GUI -->
  <node if="$(arg eventgui)" pkg="ad_core" type="launcher_qt_event_sender_interface.exe"
        name="ukf_event_gui"
        output="screen"
        args='event_keys="|UKF_MULTIMODAL_START;UKF_MULTIMODAL_START;0
                          |UKF_MULTIMODAL_STOP;UKF_MULTIMODAL_STOP;0"'/>
</group>
</launch>

